:root{
    --farse:#3a6cf4;
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:#05070D;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    z-index: 999;   
}
.logo{
    text-decoration: none;
    color:var(--farse);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}
.navigition a{
 text-decoration: none;
 color: var(--farse);
 font-weight: 500;
 font-size: 1.1em;
 padding-left: 30px;
 color: #ffffff;
}
.navigition a:hover{
    color: var(--farse);
}
   body{
    background: #050b18;
    color: #ffffff;
    line-height: 1.6;
   background-repeat: no-repeat;
  
   }
      
a{
    color: var(--farse);
    display: inline-block;
}
h2{
    color: #fff;
}
h3{
    color: #fff;
}
h1{
    color: var(--farse);
}
nav{
    padding: 17px;
    padding-bottom: 30px;
    background-color: a#ffff;
    animation: dropDown 3.2 ease;
    text-align: center;
}
section{
    padding: 100px 200px;
}
.main{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    animation: dropDown 7.0s ease;
    
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}
button{
   width: 200px;
    height: 52px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        #0066FF,
        #00C6FF
    );
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    animation: dropDown 3.4 ease;
}
.main-btn:hover{
     transform: translateY(-2px);
    box-shadow:
        0 8px 25px rgba(0, 102, 255, 0.35);
}
.social-icons a{
    display: inline-block;
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    animation: dropDown 3.8 ease;
    padding-top: 10px;
    justify-content: left;
}
.title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 2.2em;
    color: #ffff;
    color: #00c6ff;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}  
.card{
    background-color: rgb(30, 41, 59,0.9);
    color: #ffffff;
    width: 21.25em;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    box-shadow: 0 25px black;
    display: inline-block; 
    border: 1px solid rgb(0, 174, 255,0.2);
    animation: dropDown 3.6s ease;
    justify-content: center;
}
.card:hover{
    transform: scale(1.1);
}
.card .icon{
    color: var(--farse);
    font-size: 8em;
    text-align: center;
}
.loader {
    position: fixed;
    inset: 0;
    background-color: #081B33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: hideLoader 3s forwards;
}
.spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #0D2745;
    border-top: 5px solid #00C6FF;
    border-right: 5px solid #0066FF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.loader h2 {
    color: #00C6FF;
    margin-top: 20px;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes hideLoader {
    0%, 80% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.Projects {
    animation: dropDown 4.1s ease;
}
.social-icon a{
    display: inline-block;
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    animation: dropDown 3.8 ease;
    padding-top: 10px;
    justify-content: center;
    animation: dropDown 4.3s ease;
    padding-left: 180px;
}